@charset "utf-8";
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.youlian{ border:1px solid #e6e6e6; color:#777; display:inline-block; font-size:14px; line-height:30px; background-color:#FFF; text-align:center; padding:0 5px; width:100px;}